.table
  margin-top: 2rem

.btn-sm
  padding: 0.25rem 0.5rem
  font-size: 0.875rem

.form-control
  &.ng-invalid.ng-touched
    border-color: #dc3545

  &.ng-valid.ng-touched
    border-color: #28a745

.card
  border: none
  .card-body
    padding: 0
